@layer reset, global, module;

@layer reset {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
}

@layer global {
    :root {
        font-size: 16px;
        /* colors */
        --rose-800: #7A284E;
        --rose-50: #FFF7FB;
        --stone-900: #312E2C;
        --stone-600: #5F564D;
        --stone-150: #E3DDD7;
        --stone-100: #F3E5D7;
        --brown-800: #854632;
        --white: #FFFFFF;
        /* spacing */
        --spacing-1600: 8rem;
        --spacing-600: 3rem;
        --spacing-500: 2.5rem;
        --spacing-400: 2rem;
        --spacing-300: 1.5rem;
        --spacing-200: 1rem;
        --spacing-150: 0.75rem;
        --spacing-100: 0.5rem;

    }
}

@layer module {

    .text-preset-1 {
        font-family: "Young Serif", serif;
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 100%;
        letter-spacing: 0;
    }

    .text-preset-2 {
        font-family: "Young Serif", serif;
        font-weight: 400;
        font-size: 1.75rem;
        line-height: 100%;
        letter-spacing: 0;
    }

    .text-preset-3 {
        font-family: "Outfit", serif;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 100%;
        letter-spacing: 0;
    }

    .text-preset-4 {
        font-family: "Outfit", serif;
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;
        letter-spacing: 0;
    }

    .text-preset-4__bold {
        font-family: "Outfit", serif;
        font-weight: 700;
        font-size: 1rem;
        line-height: 150%;
        letter-spacing: 0;
    }

    .container {
        background-color: var(--stone-100);
        width: 100vw;
    }

    .card {
        background-color: var(--white);
    }

    .top-image {
        width: 100%;
    }

    .text-content {
        padding-inline: var(--spacing-400);
        padding-block: var(--spacing-500);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-400);
    }

    .title {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-300);
    }

    .title > h1 {
        color: var(--stone-900);
    }

    .title > p {
        color: var(--stone-600);
    }

    .preparation {
        padding: var(--spacing-300);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-200);
        background-color: var(--rose-50);
    }

    .preparation > h2 {
        color: var(--rose-800);
    }

    .preparation > ul {
        color: var(--stone-600);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-100);
        padding-inline-start: var(--spacing-300);
    }

    .preparation > ul ::marker {
        color: var(--rose-800);
    }

    .ingredients {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-300);
    }

    .ingredients > h2 {
        color: var(--brown-800);
    }

    .ingredients > ul {
        color: var(--stone-600);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-100);
        padding-inline-start: var(--spacing-300);
    }

    .ingredients > ul ::marker {
        color: var(--brown-800);
    }


    .instructions {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-300);
    }

    .instructions > h2 {
        color: var(--brown-800);
    }

    .instructions > ol {
        color: var(--stone-600);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-100);
        padding-inline-start: var(--spacing-300);
    }

    .instructions > ol ::marker {
        color: var(--brown-800);
    }

    .nutrition {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-300);
    }

    .nutrition > h2 {
        color: var(--brown-800);

    }

    .nutrition > p {
        color: var(--stone-600);
    }


    .nutrition > table {
        border-collapse: collapse;
        color: var(--stone-600);
    }

    .nutrition > table tr > td:last-child {
        color: var(--brown-800);
    }

    .nutrition > table tr {

        border-bottom: 1px solid var(--stone-150);
    }


    .nutrition > table tr:last-child {
        border-bottom: none;
    }

    .nutrition > table td {
        padding-inline-start: var(--spacing-400);
        padding-block: var(--spacing-150);
    }

    hr {
        border-color: var(--stone-150);
    }
}

@media (min-width: 376px) {
    
    @layer module {
        .container {
            display: flex;
            justify-items: center;
        }

        .card {
            margin-block: var(--spacing-1600);
            max-inline-size: 38.5rem;
            margin-inline: auto;
            padding: var(--spacing-500);
            border-radius: var(--spacing-300);
        }

        .top-image {
            border-radius: var(--spacing-150);
        }

        .text-content {
            padding-inline: 0;
        }
    }
}


@media (min-width: 768px) {
    .container {
        block-size: 122.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .card {
        max-block-size: 106.25rem;
        max-inline-size: 46rem;
        margin: 0;
    }
}
